<div class="account">
    <% if(thisUser!=="Default"){ %>
        <img class="account-image-small" src="/miiImgs/<%= pfp %>.png"> <%= thisUser %>
        <div class="accDropdown">
            <a href="/user/<%= thisUser %>">Profile</a>
            <a href="/settings">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    <% } else{ %>
        <a href="/signup">Sign Up</a> | <a href="/login">Log In</a>
    <% } %>
</div>